<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Complain-book</title>
</head>

<body class="bg-light">
    <%- include('./partials/nav') %>
    
      <% if (checkdel.length>0) { %>
        <div class="alert alert-success text-center">
          <%= checkdel %>
        </div>
      <% } %>
      <% if (checkup.length>0) { %>
        <div class="alert alert-success text-center">
          <%= checkup %>
        </div>
      <% } %>
      <% if (checkrating.length>0) { %>
        <div class="alert alert-success text-center">
          <%= checkrating %>
        </div>
      <% } %>
      <% if (checkoldrating.length>0) { %>
        <div class="alert alert-success text-center">
          <%= checkoldrating %>
        </div>
      <% } %>
        <div class="container mt-5 mb-3 ml-5" style="margin:0 auto;    display: flex;
    flex-direction: column;
    margin-left: 34%;">
            <% for(var i=0; i < dataofUser.length; i++) { %>
                <div class="container mt-5 mb-3 ml-5 ">
                    <div class="col4 box">
                        <h1>
                            <%= dataofUser[i].ptype %>
                        </h1>
                        <div class="box-content">
                            <p>
                                <%= dataofUser[i].description %>

                            </p>
                        </div>
                    </div>
                    <div class="buttons">
                        <button type="submit"
                            style="background-color: red; color: white; border-radius: 14px;"><a href="http://localhost:3000/update/<%= dataofUser[i]._id.toString() %>">Update</a></button>
                            

                        <button type="submit" style='background-color: green;color: white; border-radius: 14px;'
                            onclick='del("<%= dataofUser[i]._id.toString() %>")'>Delete</button>



                    </div>



                </div>
                <% if (dataofUser[i].status==1) { %>
                    <form id="rating-form" method="post">
                        <input type="hidden" id="id" value="<%= dataofUser[i]._id.toString() %>">
                        <label for="rating">Rating:</label>
                        <select id="rating" name="rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <button type="submit"
                            style="background-color: Blue;color: white; border-radius: 14px;"id="rating-button">Rate</button>
                    </form>
                    <% } %>




                        <% } %>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
        <script>

            function del(id) {

                fetch(`/usercomplaints/${id}`, { method: 'DELETE' })
                    .then(res => res.text())
                    .then(result => {
                        console.log(result);
                        // Refresh the page or update the DOM to remove the deleted complaint
                        location.reload()

                    });
            }
            document.querySelector('#rating-form').addEventListener('submit', (event) => {
                event.preventDefault();

                const rating = document.querySelector('#rating').value;
                console.log(rating)
                const id = document.querySelector('#id').value;
                fetch(`/usercomplaint?id=${id}`, {
                    method: 'POST',
                    body: JSON.stringify({ rating }),
                    headers: { 'Content-Type': 'application/json' },
                })
                    .then((response) => response.json())
                    .then((data) => {
                        console.log(data);
                    });
            });
            document.getElementById('rating-button').addEventListener('click',function(){
                location.reload();
            })

        </script>

</body>

</html>